/*
// CSS variables
// Default values
*/
:root {
  font-family: "Montserrat", Helvetica, sans-serif;

  --primary_color: #ffffff;
  --secondary_color: #212121;

  --primary_text_color: #000000;
  --secondary_text_color: #ffffff;

  --primary_link_color: #ff8800;
  --secondary_link_color: #ff8800;
  --hover_link_color: #ff6600;

  --dropdown_background: #dddddd;
  --dropdown_background_hover: #ddddddcc;
  --dropdown_box_shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  --back_to_top_shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.2);

  /* Animations */
  scroll-behavior: smooth;
}

/* Makes a document fit the whole screen */

* {
  box-sizing: border-box;
}

p.error {
  color: red;
}

body {
  margin: 0;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: bold;
  background-color: #097878;
  color: white;
  height: auto;
}

h3 {
  font-family: "Questrial", Helvetica, sans-serif;
  float: left;
  font-size: 30px;
  padding-left: 30px;
  color: #87abff;
  margin-bottom: -40px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #ffffff;
  font-size: 17px;
}
li {
  float: left;
}
li a, .dropbtn {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-top:20px;
  color: black;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #a8f6dd;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(1, 37, 54, 0.493);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #a8f6ddb0;}

.dropdown:hover .dropdown-content {
  display: block;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  height: 175px;
}

.box1 {
  padding-top:70px;
  flex: 65%;
  height: auto;
  text-align: center;
  overflow: hidden;
}
.box2 {
  flex: 35%;
  padding-top: 20px;
}

h1 {
  font-size: 100px;
  text-shadow: 6px 6px 2px #30333386;
  padding:10px;
  box-shadow: 5px 5px 10px 5px #0748588e;
  width:400px;
}

.crtice {
  margin: auto;
  font-size: 90px;
  width: 100%;
  text-align: center;
  color: #79EFB6;
  letter-spacing: 30px;

}

.clearfix::after {
  clear: both;
  display: table;
}

.gllekcije {
  display: flex;
  flex-direction: column;
  margin: auto;
  width:90%;
}

.lekcije_active {
  flex-direction: column;
  height: auto;
}

.gradiva {
  width: 80%;
}

h2{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2::after {
  content: "\003c";
  float:right;
  padding-right: 15px;
}

.cjeline {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  font-size: x-large;
  border-radius: 74px;
  border: none;
  background-color: #d5edff;
  width: 60%;
  padding: 15px 39px;
  cursor: pointer;
  margin: 10px auto 10px 10%;
  text-decoration: none;
}

.cjeline:hover {
  background-color: #004b4bb6;
  color: white;
  cursor:pointer;
}

.img1 {
  position: absolute;
  top: 40px;
  aspect-ratio: 0.74;
  width: 35%;
  right: 0px;
  z-index: -1;
}

.img2 {
  position: absolute;
  top: 900px;
  aspect-ratio: 0.74;
  width: 35%;
  right: 0px;
  z-index: -1;
}

.img3 {
  position: absolute;
  top: 1760px;
  aspect-ratio: 0.74;
  width: 35%;
  right: 0px;
  z-index: -1;
}

.img4 {
  position: absolute;
  top: 2620px;
  aspect-ratio: 0.74;
  width: 35%;
  right: 0px;
  z-index: -1;
}

h2 {
  font-size: 47px;
  padding: 20px;
  padding-left: 90px;
  margin: 0px;
  color: #72DEDE;
}

footer {
  background-color: black;
  color: white;
  font-size: 20px;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
}

@media screen and (max-width: 1000px) {
  .topnav .search-container {
    float: none;
  }

  .topnav a,
  .topnav input[type=text],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }

  .container {
    display: flex;
    flex-direction:column;
    padding: 5vw;
  }

  .box1,
  .box2 {
    flex:100%;
  }

  .lekcije {
    max-width: 100%;
    padding: 0 20px;
  }
  .gllekcije{
    margin-top:200px;
  }
}