body {
    margin: 0;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: bold;
    background-color: #C7FFFF;
    color: black;
  }
.ime{
    float: left;
    margin-left:40px;
}
  h3 {
    font-family: "Questrial", Helvetica, sans-serif;
    font-size: 30px;
    color: #87abff;
    margin-bottom:-40px;
  }
  h4{
    font-size:20px;
  }
  .topnav {
    overflow: hidden;
    background-color: #ffffff;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #a8f6dd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #011F1F;
    color: white;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16 px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  .topnav .prijava {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 10px;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  * {
    box-sizing: border-box;
  }
  .prir_brojevi{
    display:flex;
    width:100%;
  }





















































  @media screen and (max-width: 1000px) {
    .topnav .search-container {
      float: none;
    }
  
    .topnav a,
    .topnav input[type=text],
    .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
  
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }