body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #147594;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .logo h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav input[type="text"] {
    padding: 5px;
  }
  
  main {
    display: flex;
    padding: 20px;
  }
  
  aside {
    background-color: #192332;
    color: white;
    padding: 20px;
  }
  
  aside h2 {
    margin-top: 0;
  }
  
  aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  aside ul li {
    margin-bottom: 10px;
  }
  
  section {
    flex: 1;
    padding: 20px;
    background-color: #0a121c;
    color: white;
  }