/*
// CSS variables
// Default values
*/
:root {
    font-family: "Montserrat", Helvetica, sans-serif;

    --primary_color: #ffffff;
    --secondary_color: #212121;

    --primary_text_color: #000000;
    --secondary_text_color: #ffffff;

    --primary_link_color: #ff8800;
    --secondary_link_color: #ff8800;
    --hover_link_color: #ff6600;

    --dropdown_background: #dddddd;
    --dropdown_background_hover: #ddddddcc;
    --dropdown_box_shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    --back_to_top_shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.2);

    /* Animations */
    scroll-behavior: smooth;
}

/* Makes a document fit the whole screen */
body {
    margin: 0;
}


p.error {
    color: red;
}





/*
//MARK: MAIN
*/


/*  //-//-//-//-//-//-//  BODY  //-//-//-//-//-//-//  */

main {
    display: flex;
    flex-direction: column;
    background-color: #06394F;
    justify-content: center;
    width: 100%;
    z-index: 0;
}

.prviSection {
    display: flex;
    flex-direction: row;
    border-bottom: rgb(158, 158, 158) solid 15px;
}

.prviSectionLijevo {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 5vw 0 0 5vw;
}

.prviSectionDesno {
    display: flex;
    flex-basis: 50%;
    justify-content: right;
}

.prviSectionDesno img {
    width: 100%;
}

.naslov0 {
    display: flex;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 800;
    color: #62abee;
    font-size: 2.5vw;
    text-align: justify;
    letter-spacing: 0;
    line-height: 66.5px;
    white-space: nowrap;
}

.paragraph1 {
    display: flex;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 1.5vw;
    padding-bottom: 2vw;
}

.naslov1 {
    display: flex;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: white;
    font-size: 3vw;
    padding-top: 6.5vw;
    padding-bottom: 1vw;
}

.paragraph2 {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 2vw;
    letter-spacing: 0;
    line-height: normal;
}

.razredi {
    display: flex;
    width: 100%;
}

.broj {
    display: flex;
    flex-basis: 25%;
    margin: 1%;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 96px;
    justify-content: center;
    border-radius: 40px;
    border: none;
    background-color: #045353;
    text-decoration: none;
}

.broj:hover {
    background-color: #cad6e6;
    color: #2a5b9b;
}

/* ///// TABLICA ////// */

.prviSection table {
    width: 88%;
    margin-top: 2vw;
}

tr.noBorder td {
    border-right: rgb(158, 158, 158) solid 15px;
    height: 3vw;
    text-align: center;
}

.linija {
    height: 2750px;
    width: 15px;
    background-color: rgb(158, 158, 158);
    position: absolute;
    top: 26px;
}



/*/////////////////////*/

/*  ///DRUGI SECTION///  */

.drugiSection {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.section2Lijevo {
    display: flex;
    flex-basis: 40%;
}

.section2Lijevo img {
    width: 95%;
}

.section2Desno {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
}

.naslov2 {
    font-weight: 657;
    font-size: 5vw;
    padding-top: 6vw;
    color: #FAF8B8;
    text-shadow: 5px 5px 5px black;
}

.paragraph3 {
    padding: 1vw;
    font-weight: 557;
    font-size: 2vw;
    color: white;
    letter-spacing: 1px;
}

.section2Desno .button2 {
    width: 35%;
    border-radius: 40px;
    font-weight: 657;
    padding: 1vw 0 1vw 0;
    margin: 1.5vw 0 1.5vw 0;
    font-size: 1.7vw;
    border: none;
    background-color: #98D7E0;
    text-align: center;
}

.section2Desno .button2:hover {
    background-color: #48757c;
    color: #98D7E0;
}

.paragraph4 {
    padding: 1vw;
    font-weight: 557;
    font-size: 2vw;
    color: white;
    letter-spacing: 1px;
}

.zadaciLink {
    text-decoration: none;
}

.zadaciLink:hover {
    color: #7667fd;
    text-decoration: none;
    padding: 0 0.3vw 0 0.3vw;
}

.alreadyAcc a {
    text-decoration: none;
}

/*///////////////////////*/

/*  ///TRECI SECTION///  */

.treciSection {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.section3Table {
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
}

.section3Table table {
    width: 60%;
}

.section3Table tr {
    border-bottom: rgb(158, 158, 158) solid 15px;
    height: 170px;
    color: white;
}

.section3Lijevo {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    color: white;
    padding-left: 6%;
}

.naslov3 {
    font-weight: 657;
    font-size: 5vw;
    padding-top: 6vw;
    color: white;
    text-shadow: 5px 5px 5px black;
}

label {
    margin: 1vw 0 1vw 0;
}

.gore {
    width: 40%;
    margin-right: 25%;
    float: right;
    border-radius: 40px;
    background-color: #265266;
    border: #ffffff9d solid 5px;
    padding: 0.7vw;
    color: white;
}

#fname {
    width: 40%;
    margin-right: 25%;
    float: right;
    border-radius: 40px;
    background-color: #265266;
    border: #ffffff9d solid 5px;
    padding: 0.7vw;
    color: white;
}

.rijeci {
    font-size: 2.5vw;
    font-weight: 500;
}

.dole {
    width: 40%;
    padding: 0.5vw;
    border-radius: 40px;
    font-weight: 657;
    font-size: 1.7vw;
    border: none;
    background-color: #98D7E0;
    margin: 1.5vw 0 1.5vw 0;
}

.alreadyAcc {
    font-size: 1.5vw;
    font-weight: 500;
}

.alreadyAcc a {
    color: #85A0FF;
}

.alreadyAcc a:hover {
    color: #316f99;
    text-decoration: none;
    background-color: #98D7E0;
    border-radius: 20px;
    padding: 0 0.3vw 0 0.3vw;
}

.dole:hover {
    background-color: #48757c;
    color: #98D7E0;
}


.section3Desno {
    flex-basis: 30%;
    justify-content: right;
}

label.regHome {
    width: auto;
}




/*///////////////////////*/

/*    FOOTER    */

@media screen and (max-width: 1000px) {
    .topnav .search-container {
        float: none;
    }

    .topnav a,
    .topnav input[type=text],
    .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}






/*
//MARK: Login
*/
main.auth {
    flex-direction: column;
}

section.titles {
    display: flex;
    flex-direction: column;

    height: auto;

    margin: 3% 0 0 calc(14.5vw);
}

section.form {
    display: flex;
    justify-content: center;

    height: 600px;

    padding: 3%;
}

h1.auth_title {
    font-size: calc(0.75vw + 32px);
    color: #98D7E0;
}

p.change_auth {
    margin-bottom: 0;

    font-size: calc(0.5vw + 12px);
    font-weight: bold;
    color: white;
}

a.change_auth_link {
    font-size: calc(0.5vw + 12px);
    font-weight: bold;
    color: #85A0FF;
    text-decoration: none;
}

a.change_auth_link:hover {
    color: #5871cc;
}

hr.auth_line {
    position: relative;

    margin: 0;

    width: 20vw;

    color: white;
}

hr#authLine1 {
    inset: -10px 0 0 0;
}

hr#authLine2 {
    inset: 10px 0 0 17vw;
}

hr#authLine3 {
    inset: 30px 0 0 34vw;
}

hr#authLine4 {
    inset: 50px 0 0 51vw;
}

hr#authLine1D {
    inset: -10px 0 0 34vw;
}

hr#authLine2D {
    inset: 10px 0 0 17vw;
}

hr#authLine3D {
    inset: 30px 0 0 0;
}

form {
    width: 75%;
}

label {
    display: inline-block;
    width: 25%;

    font-size: calc(0.5vw + 20px);
    font-weight: bold;
    color: white;
}

input {
    margin: 5px 0 40px 0;
    padding: 15px;
    width: 74%;

    background: #f1f1f1;
    border: none;
    box-sizing: border-box;
}

input:focus {
    background-color: #dddddd;
    outline: none;
}

button.authenticate {
    padding: 16px 20px;
    margin: 8px 0;
    width: 30%;

    background-color: #98D7E0;
    border: none;
    border-radius: 25px;
    color: black;
    cursor: pointer;
    opacity: 0.85;

    font-size: calc(0.67vw + 14px);
    font-weight: bold;
}

button.authenticate:hover {
    opacity: 1;
}




/*
//MARK: Logout
*/
section.heightFit {
    height: 1000px;
}

a.authenticate {
    padding: 16px 20px;
    margin: 8px 0;
    width: 30%;

    background-color: #98D7E0;
    border: none;
    border-radius: 25px;
    color: black;
    cursor: pointer;
    opacity: 0.85;
    text-decoration: none;
    text-align: center;

    font-size: calc(0.67vw + 14px);
    font-weight: bold;
}

a.authenticate:hover {
    opacity: 1;
}