/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0px;

    /*padding: 0 10px;*/

    z-index: 100;

    background-color: var(--primary_color);
    font-size: calc(0.3vw + 13px);
}

header * {
    background-color: var(--primary_color);
}

/* Navigation */
nav.links,
nav.options {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}


/* Navigation link */
a.nav_link {
    padding: 13px;

    text-decoration: none;
    color: black;

    cursor: pointer;
}

a.nav_link:hover,
a.nav_link:hover * {
    background-color: #a8f6dd;
}

.nav_active,
.nav_active:hover {
    background-color: #011F1F !important;
    color: white !important;
}



/* Menu */
a#nav_menu_link {
    display: none;
}

dialog.menu {
    display: none;

    left: 0px;

    margin-left: 0;
    border: none;
    padding: 0;

    box-shadow: var(--dropdown_box_shadow);

    min-width: 180px;

    z-index: 101;
}



/* Dialog link */
dialog a.dropdown_link {
    display: block;

    padding: 12px 16px;

    font-size: 14px;

    color: var(--primary_text_color);
    text-decoration: none;
}

dialog a.dropdown_link:hover {
    background-color: var(--dropdown_background);
}



/*
// RESPONSIVENESS
// Depending on the screen width
*/
@media screen and (max-width: 600px) {
    nav.links {
        display: none;
    }

    a#nav_menu_link {
        display: inline-block;
    }
}